extends layout

block content
    .container
        .intro
            h1 Using clouds and VMs in bioinformatics training
            h3 Helsinki, May 23-25, 2016
            hr
            br
            p.lead.
                Welcome to the AWS + docker workshop! Click one of the links below:
            ul
                li to connect to your server
                li to view materials related to your project
            hr
        .buttons
            .well
                a.btn.btn-lg.btn-primary(href="/connect") Connect to the server
                span &nbsp
                a.btn.btn-lg.btn-primary(href="/materials") View or download materials
