//
   Created by bastianschiffthaler on 4/13/16.

//
   Created by bastianschiffthaler on 4/13/16.
extends layout

block content
    .container-fluid
        h1 Using clouds and VMs in bioinformatics training
        hr
        a.btn.btn-lg.btn-success(href='/', role='button') Home
        span &nbsp
        a.btn.btn-lg.btn-primary(href="/connect") Connect to instance
        hr
        h3 Download or view materials
        .well Wednesday 15:30 AWS + docker
            ul
                li
                    a(href="/materials/using_docker_on_aws_for_bioinformatics_workshops.pdf") Aims and Learning Objectives
            ul
                li
                    a(href="/materials/") Practical
